@font-face {
    font-family: "Avenir";
    src: url("./assets/fonts/Avenir Black.ttf")
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Avenir";
}


:root {
    /* Common */
    --border-color: #e0e0e0;
    --btn-color: #ffffff;
    --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    --accent-danger: #E51A49;
    --accent-two: #B364F6;
    --accent-three: #3ca2f4;

}

:root:has(#theme_raadio_light:checked) {
    /* Light Theme */
    --primary-background: #f5f5f5;
    --secondary-background: #ffffff;
    --text-color: #333333;
    --accent-color: #ff80ab;
    --modal-bkg: #ff80aa4d;
}

:root:has(#theme_raadio_dark:checked) {
    /* Dark Theme */
    --primary-background: #121212;
    --secondary-background: #1e1e1e;
    --text-color: #ffffff;
    --accent-color: #64b5f6;
    --modal-bkg: #64b4f658;
}

#theme_raadio_light,
#theme_raadio_dark {
    opacity: 0;
    position: absolute;
    z-index: 0;
    width: 0;
    height: 0;
    overflow: hidden;
}

body {
    background-color: var(--primary-background);
    color: var(--text-color);
    position: relative;
    padding: 0 20px;
    max-width: 391px;
    margin: auto;
}

svg {
    fill: var(--text-color);
}

h1,
h2,
h3,
h4,
h5 {
    margin-bottom: 15px;
}

p,
label {
    margin-bottom: 10px;
}

.btn_elm {
    background-color: var(--accent-color);
    color: var(--btn-color);
    font-size: 16px;
    font-weight: 600;
    padding: 14px;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 7px;
    cursor: pointer;
}

.main_cont {
    position: relative;
}

.modal_cont {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primary-background);
    justify-content: center;
    align-items: center;
}

.modal_inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    text-align: center;
    border-radius: 10px;
    background-color: var(--secondary-background);
}

.modal_heading {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.modal_heading>h1 {
    text-align: left;
    width: 85%;
}

.modal_overflow_cont {
    max-height: 550px;
    overflow-y: scroll;
}

.modal_overflow_cont::-webkit-scrollbar {
    display: none;
}

.close_button {
    position: relative;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    background-color: var(--primary-background);
}

.blur_bkg {
    background-color: var(--modal-bkg);
    backdrop-filter: blur(8px);
}

.logo_img {
    max-width: 200px;
    margin-bottom: 15px;
}

.notification_box {
    max-width: 90%;
    padding: 14px 20px;
    border-radius: 7px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    z-index: 99999999999999;
    background-color: var(--accent-three);

}
.notification_box{
    opacity: 0;
    top: -40px;
    transition: all 150ms ease-out;

}
.notification_text {
    color: white;
    font-weight: bold;
    margin: 0;
}
.notification_box.visible{
    opacity: 1;
    top: 10px;
    transition: all 150ms ease-in;
}
/* form */
.form_section_cont {
    width: 100%;
    padding: 10px 0;
    text-align: left;
}

.add_baby_form {
    padding-top: 15px;
    text-align: left;
}

/* for building purposes */

#signup_section {
    z-index: 99999;
}

#welcome_section {
    z-index: 999999;
}

/* for building purposes */


/* hide data forms */
/* #add_bm_data_form,
#add_weight_data_form,
#add_feeding_data_form,
#baby_add_data_modal,
#baby_settings_modal {
    display: none;
} */

.modal_cont{
    display: none;
}

#baby_settings_modal.active{
    display: flex ;
}

.form_section_cont>input,
.form_section_cont>select,
.form_section_cont>textarea {
    margin-top: 10px;
}

.main_form_cont,
.modal_overflow_cont {
    width: 100%;
}

input:not(.radio),
select,
textarea {
    font-size: 16px;
    color: var(--text-color);
    padding: 14px;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 7px;
    background-color: var(--primary-background);
}

.custom_toggle {
    width: 100px;
    height: 42px;
    background-color: var(--primary-background);
    border-radius: 7px;
    position: relative;
    display: flex;
    align-items: center;
    padding: 5px;
    margin-top: 10px;
}

.custom_toggle {
    cursor: pointer;
    justify-content: left;
    transition: all 150ms ease-out;
}

.toggle {
    height: 100%;
    width: 48%;
    background-color: var(--accent-color);
    border-radius: 5px;
}

.flex_form_cont {
    display: flex;
    gap: 10px;
}

.radio_group {
    display: flex;
    align-items: center;
    padding-top: 10px;
}

.radio_group>p {
    margin: 0;
    padding-left: 15px;
}

/* footer controller */
.footer_menu {
    position: fixed;
    width: 700px;
    height: 700px;
    /* height: max-content; */
    border-radius: 200pc;
    background-color: var(--secondary-background);
    bottom: -570px;
    left: 50%;
    transform: translate(-50%);
    padding: 20px;
    border: 3px solid var(--primary-background);
}

.footer_menu_item {
    position: absolute;
    width: 65px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10pc;
    background-color: var(--primary-background);
    top: 0;

}

.footer_menu_item.active {
    background-color: var(--accent-color);

}

.footer_menu_item.active>svg {
    color: var(--secondary-background);
    fill: var(--secondary-background);
}

.footer_menu_item>svg {
    width: 33px;
}

.footer_menu_item.left {
    left: 30%;
    top: 40px;
}

.footer_menu_item.center {
    left: 50%;
    transform: translate(-50%);
    top: 20px;
}

.footer_menu_item.right {
    right: 30%;
    top: 40px;
}

.footer_menu_btn {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10pc;
    z-index: 9;
    cursor: pointer;
}

/* content styles */
.content_cont {
    padding: 20px 0;
    max-height: 100vh;

}

#title_block {
    position: relative;
}

#baby_settings_button_cont {
    width: max-content;
    position: absolute;
    right: 0;
    top: 0;
    padding-bottom: 10px;
    cursor: pointer;
}

#baby_settings_button_cont>svg {
    fill: var(--secondary-background);
}
.button_elm_trigger{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
}


#baby_name_title {
    font-size: 35px;
}

/* Content container styles */
.widget_main_cont {
    max-height: 80vh;
    overflow-y: scroll;
    padding-bottom: 100px;
    scroll-behavior: smooth;
}

.widget_main_cont::-webkit-scrollbar {
    display: none;
}

.widget_setting_dd {
    display: flex;
    flex-direction: column;
    height: min-content;
    border-radius: 4px;
    background-color: var(--secondary-background);
}

.widget_setting_dd_preview {
    padding: 7px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 70px;
}

.widget_setting_dd_preview>svg {
    width: 14px;
    margin: 0;
}

.widget_setting_dd_preview>p {
    font-size: 12px;
    margin: 0;
}

.widget_title_block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.widget_title {
    margin-bottom: 0;
}

.widget_dd_item_container {
    height: 0;
    opacity: 0;
    overflow: hidden;
}

.widget_chart_cont {
    width: 100%;
    max-width: 350px;
    height: 350px;
    background-color: var(--secondary-background);
    border-radius: 7px;
}

.widget_cont:not(:last-child) {
    margin-bottom: 15px;
}

.wdiget_cont {
    margin-bottom: 15px;
}